/* medium-editor.js css -- https://cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css
  Retrieved 3/4/2016
*/
@import url(//fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css);
.medium-editor-anchor-preview,
.medium-editor-toolbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  z-index: 2000; }

@-webkit-keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); } }
@keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); } }
.medium-editor-anchor-preview {
  left: 0;
  line-height: 1.4;
  max-width: 280px;
  position: absolute;
  text-align: center;
  top: 0;
  word-break: break-all;
  word-wrap: break-word;
  visibility: hidden; }

.medium-editor-anchor-preview a {
  color: #fff;
  display: inline-block;
  margin: 5px 5px 10px; }

.medium-editor-anchor-preview-active {
  visibility: visible; }

.medium-editor-dragover {
  background: #ddd; }

.medium-editor-image-loading {
  -webkit-animation: medium-editor-image-loading 1s infinite ease-in-out;
  animation: medium-editor-image-loading 1s infinite ease-in-out;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  width: 40px; }

.medium-editor-placeholder {
  position: relative; }

.medium-editor-placeholder:after {
  content: attr(data-placeholder) !important;
  font-style: italic;
  left: 0;
  position: absolute;
  top: 0;
  white-space: pre;
  padding: inherit;
  margin: inherit; }

.medium-toolbar-arrow-over:before,
.medium-toolbar-arrow-under:after {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0; }

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0; }

.medium-toolbar-arrow-over:before {
  border-width: 0 8px 8px;
  top: -8px; }

.medium-editor-toolbar {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden; }

.medium-editor-toolbar ul {
  margin: 0;
  padding: 0; }

.medium-editor-toolbar li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.medium-editor-toolbar li button {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.33;
  margin: 0;
  padding: 15px;
  text-decoration: none; }

.medium-editor-toolbar li button:focus {
  outline: 0; }

.medium-editor-toolbar li .medium-editor-action-underline {
  text-decoration: underline; }

.medium-editor-toolbar li .medium-editor-action-pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  font-weight: 100;
  padding: 15px 0; }

.medium-editor-toolbar-active {
  visibility: visible; }

.medium-editor-sticky-toolbar {
  position: fixed;
  top: 1px; }

.medium-editor-relative-toolbar {
  position: relative; }

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
  -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
  animation: medium-editor-pop-upwards 160ms forwards linear; }

.medium-editor-action-bold {
  font-weight: bolder; }

.medium-editor-action-italic {
  font-style: italic; }

.medium-editor-toolbar-form {
  display: none; }

.medium-editor-toolbar-form a,
.medium-editor-toolbar-form input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.medium-editor-toolbar-form .medium-editor-toolbar-form-row {
  line-height: 14px;
  margin-left: 5px;
  padding-bottom: 5px; }

.medium-editor-toolbar-form .medium-editor-toolbar-input,
.medium-editor-toolbar-form label {
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 6px;
  width: 316px;
  display: inline-block; }

.medium-editor-toolbar-form .medium-editor-toolbar-input:focus,
.medium-editor-toolbar-form label:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  outline: 0; }

.medium-editor-toolbar-form a {
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 10px;
  text-decoration: none; }

.medium-editor-toolbar-actions:after {
  clear: both;
  content: "";
  display: table; }

[data-medium-editor-element] img {
  max-width: 100%; }

[data-medium-editor-element] sub {
  vertical-align: sub; }

[data-medium-editor-element] sup {
  vertical-align: super; }

.medium-editor-hidden {
  display: none; }

.medium-toolbar-arrow-under:after {
  border-color: #000 transparent transparent;
  top: 40px; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #000; }

.medium-editor-toolbar {
  background-color: black;
  border: none; }

.medium-editor-toolbar li button {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: #ccc;
  height: 40px;
  min-width: 40px;
  padding: 5px 12px;
  -webkit-transition: background-color .2s ease-in, color .2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in; }

.medium-editor-toolbar li .medium-editor-button-active,
.medium-editor-toolbar li button:hover {
  background-color: #545559;
  color: white; }

.medium-editor-toolbar-form {
  background: #000;
  border-radius: 50px;
  color: #ccc;
  overflow: hidden; }

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  background: #000;
  box-sizing: border-box;
  color: #ccc;
  height: 40px;
  padding-left: 16px;
  width: 220px; }

.medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
  color: #f8f5f3;
  color: rgba(248, 245, 243, 0.8); }

.medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
  color: #f8f5f3;
  color: rgba(248, 245, 243, 0.8); }

.medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
  color: #f8f5f3;
  color: rgba(248, 245, 243, 0.8); }

.medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
  color: #f8f5f3;
  color: rgba(248, 245, 243, 0.8); }

.medium-editor-toolbar-form a {
  color: #ccc;
  -webkit-transform: translateY(2px);
  transform: translateY(2px); }

.medium-editor-toolbar-form .medium-editor-toolbar-close {
  margin-right: 16px; }

.medium-editor-toolbar-anchor-preview {
  background: #000;
  border-radius: 50px;
  padding: 5px 12px; }

.medium-editor-anchor-preview a {
  color: #ccc;
  text-decoration: none; }

@-webkit-keyframes barber_pole {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 60px 0px; } }
@-moz-keyframes barber_pole {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 60px 0px; } }
@-ms-keyframes barber_pole {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 60px 0px; } }
@-o-keyframes barber_pole {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 60px 0px; } }
@keyframes barber_pole {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 60px 0px; } }
body {
  -webkit-transition: all 0.3s ease-in-out, left 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out, left 0.3s ease-in-out;
  transition: all 0.3s ease-in-out, left 0.3s ease-in-out;
  left: 0;
  position: relative; }

#thesis-editor, #thesis-modal, #thesis-fader {
  font-family: "Raleway", sans-serif;
  font-weight: normal; }
  #thesis-editor, #thesis-editor *, #thesis-modal, #thesis-modal *, #thesis-fader, #thesis-fader * {
    box-sizing: border-box; }

body.thesis-tray-open #thesis-editor {
  right: 380px; }

#thesis-editor {
  -webkit-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1040;
  position: fixed;
  z-index: 1040;
  color: white;
  line-height: 0;
  font-size: 0;
  text-decoration: none;
  height: 85px;
  width: 85px; }
  #thesis-editor.active .thesis-button {
    opacity: 1;
    pointer-events: auto; }
    #thesis-editor.active .thesis-button:nth-child(1) {
      -webkit-transform: rotate(-9.42deg);
      -moz-transform: rotate(-9.42deg);
      -ms-transform: rotate(-9.42deg);
      -o-transform: rotate(-9.42deg);
      transform: rotate(-9.42deg);
      -webkit-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      right: 31px; }
    #thesis-editor.active .thesis-button:nth-child(2) {
      -webkit-transform: rotate(-6.28deg);
      -moz-transform: rotate(-6.28deg);
      -ms-transform: rotate(-6.28deg);
      -o-transform: rotate(-6.28deg);
      transform: rotate(-6.28deg);
      -webkit-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      right: 23px; }
    #thesis-editor.active .thesis-button:nth-child(3) {
      -webkit-transform: rotate(-3.14deg);
      -moz-transform: rotate(-3.14deg);
      -ms-transform: rotate(-3.14deg);
      -o-transform: rotate(-3.14deg);
      transform: rotate(-3.14deg);
      -webkit-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      right: 17.66667px; }
    #thesis-editor.active .thesis-button.edit i {
      background-size: 30px 30px;
      -webkit-animation: barber_pole 0.7s linear infinite;
      -moz-animation: barber_pole 0.7s linear infinite;
      animation: barber_pole 0.7s linear infinite;
      background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
      background-color: #8b8c92; }
  #thesis-editor.thesis-page-tools-hidden {
    height: 300px; }
    #thesis-editor.thesis-page-tools-hidden:hover .thesis-button.add, #thesis-editor.thesis-page-tools-hidden:hover .thesis-button.delete {
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-animation: animateOpacity 0.75s ease-in-out;
      -moz-animation: animateOpacity 0.75s ease-in-out;
      animation: animateOpacity 0.75s ease-in-out;
      opacity: 1;
      pointer-events: auto; }
      #thesis-editor.thesis-page-tools-hidden:hover .thesis-button.add:nth-child(1), #thesis-editor.thesis-page-tools-hidden:hover .thesis-button.delete:nth-child(1) {
        -webkit-transform: rotate(-15.7deg);
        -moz-transform: rotate(-15.7deg);
        -ms-transform: rotate(-15.7deg);
        -o-transform: rotate(-15.7deg);
        transform: rotate(-15.7deg);
        -webkit-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        right: 75px; }
      #thesis-editor.thesis-page-tools-hidden:hover .thesis-button.add:nth-child(2), #thesis-editor.thesis-page-tools-hidden:hover .thesis-button.delete:nth-child(2) {
        -webkit-transform: rotate(-12.56deg);
        -moz-transform: rotate(-12.56deg);
        -ms-transform: rotate(-12.56deg);
        -o-transform: rotate(-12.56deg);
        transform: rotate(-12.56deg);
        -webkit-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        right: 55px; }
      #thesis-editor.thesis-page-tools-hidden:hover .thesis-button.add:nth-child(3), #thesis-editor.thesis-page-tools-hidden:hover .thesis-button.delete:nth-child(3) {
        -webkit-transform: rotate(-9.42deg);
        -moz-transform: rotate(-9.42deg);
        -ms-transform: rotate(-9.42deg);
        -o-transform: rotate(-9.42deg);
        transform: rotate(-9.42deg);
        -webkit-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        right: 39px; }
      #thesis-editor.thesis-page-tools-hidden:hover .thesis-button.add:nth-child(4), #thesis-editor.thesis-page-tools-hidden:hover .thesis-button.delete:nth-child(4) {
        -webkit-transform: rotate(-6.28deg);
        -moz-transform: rotate(-6.28deg);
        -ms-transform: rotate(-6.28deg);
        -o-transform: rotate(-6.28deg);
        transform: rotate(-6.28deg);
        -webkit-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        right: 27px; }
      #thesis-editor.thesis-page-tools-hidden:hover .thesis-button.add:nth-child(5), #thesis-editor.thesis-page-tools-hidden:hover .thesis-button.delete:nth-child(5) {
        -webkit-transform: rotate(-3.14deg);
        -moz-transform: rotate(-3.14deg);
        -ms-transform: rotate(-3.14deg);
        -o-transform: rotate(-3.14deg);
        transform: rotate(-3.14deg);
        -webkit-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        right: 19px; }
@-webkit-keyframes animateOpacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes animateOpacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes animateOpacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  #thesis-editor .thesis-button {
    -webkit-transition: opacity 0.75s ease-in-out, right 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
    -moz-transition: opacity 0.75s ease-in-out, right 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
    transition: opacity 0.75s ease-in-out, right 0.75s ease-in-out, transform 0.75s ease-in-out;
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    right: 15px;
    opacity: 0;
    display: block;
    float: right;
    clear: both;
    text-align: right;
    position: relative;
    cursor: pointer;
    padding: 0px 0px;
    height: 80px;
    width: auto;
    padding-bottom: 20px;
    pointer-events: none;
    position: absolute; }
    #thesis-editor .thesis-button.cancel > i {
      background-color: #F11809; }
      #thesis-editor .thesis-button.cancel > i:hover {
        background-color: #ca1408;
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out; }
    #thesis-editor .thesis-button.delete > i {
      background-color: #CB006C; }
      #thesis-editor .thesis-button.delete > i:hover {
        background-color: #a20056;
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out; }
    #thesis-editor .thesis-button.add > i {
      background-color: #1BB6EC; }
      #thesis-editor .thesis-button.add > i:hover {
        background-color: #119dcd;
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out; }
    #thesis-editor .thesis-button.save > i {
      background-color: #64BA27; }
      #thesis-editor .thesis-button.save > i:hover {
        background-color: #529820;
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out; }
    #thesis-editor .thesis-button.settings > i {
      background-color: #FFC154; }
      #thesis-editor .thesis-button.settings > i:hover {
        background-color: #ffb22b;
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out; }
    #thesis-editor .thesis-button:nth-last-child(2) {
      bottom: 75px; }
    #thesis-editor .thesis-button:nth-last-child(3) {
      bottom: 155px; }
    #thesis-editor .thesis-button:nth-last-child(4) {
      bottom: 235px; }
    #thesis-editor .thesis-button:nth-last-child(5) {
      bottom: 315px; }
    #thesis-editor .thesis-button:nth-last-child(6) {
      bottom: 395px; }
    #thesis-editor .thesis-button:nth-last-child(7) {
      bottom: 475px; }
    #thesis-editor .thesis-button:nth-last-child(8) {
      bottom: 555px; }
    #thesis-editor .thesis-button:nth-last-child(9) {
      bottom: 635px; }
    #thesis-editor .thesis-button:hover .tooltip {
      right: 80px;
      opacity: 1; }
    #thesis-editor .thesis-button.edit {
      opacity: 1 !important;
      height: 60px !important;
      padding-bottom: 0px !important;
      pointer-events: auto !important;
      bottom: 15px;
      right: 15px; }
    #thesis-editor .thesis-button i {
      position: relative;
      z-index: 2;
      width: 60px;
      height: 60px;
      display: inline-block;
      background-color: #A0A1A6;
      border: 3px solid white;
      font-size: 30px;
      line-height: 55px;
      text-align: center;
      vertical-align: middle;
      -webkit-transition: background-color 0.3s ease-in-out;
      -moz-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out; }
      #thesis-editor .thesis-button i:hover {
        background-color: #8b8c92;
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out; }
    #thesis-editor .thesis-button .tooltip {
      -webkit-transition: opacity 0.2s ease-out, right 0.2s ease-out;
      -moz-transition: opacity 0.2s ease-out, right 0.2s ease-out;
      transition: opacity 0.2s ease-out, right 0.2s ease-out;
      z-index: 1;
      position: absolute;
      right: 0px;
      top: 17px;
      font-size: 13px;
      color: white;
      background: rgba(0, 0, 0, 0.7);
      padding: 5px 15px 4px;
      line-height: 1;
      opacity: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      vertical-align: middle;
      display: inline-block;
      font-weight: normal;
      border: 2px solid white;
      white-space: nowrap;
      pointer-events: none; }
      #thesis-editor .thesis-button .tooltip:before {
        content: "";
        display: block;
        position: absolute;
        right: -25px;
        width: 40px;
        height: 60px;
        top: -19px;
        z-index: 0; }
      #thesis-editor .thesis-button .tooltip.error {
        background: rgba(153, 0, 0, 0.75); }

body.thesis-editing .thesis-content {
  position: relative;
  z-index: 1039;
  min-width: 40px;
  display: block;
  cursor: crosshair;
  min-height: 1em;
  padding: 5px; }
  body.thesis-editing .thesis-content, body.thesis-editing .thesis-content * {
    color: #1E1E1E !important; }
    body.thesis-editing .thesis-content a, body.thesis-editing .thesis-content * a {
      text-decoration: underline; }
  body.thesis-editing .thesis-content:before {
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    height: 0px;
    width: 0px;
    display: block;
    opacity: 0;
    position: absolute;
    content: "MODIFIED";
    background: #4d901e;
    right: 0;
    bottom: -16px;
    line-height: 16px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    padding: 0 10px;
    pointer-events: none; }
  body.thesis-editing .thesis-content:after {
    -webkit-transition: border-color 0.2s ease-in-out;
    -moz-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1;
    border: dotted 3px white; }
  body.thesis-editing .thesis-content:focus {
    box-shadow: none;
    outline: none; }
    body.thesis-editing .thesis-content:focus:after {
      background-size: 30px 30px;
      -webkit-animation: barber_pole 4s linear infinite;
      -moz-animation: barber_pole 4s linear infinite;
      animation: barber_pole 4s linear infinite;
      background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%);
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%);
      background-color: rgba(255, 255, 255, 0.6); }
  body.thesis-editing .thesis-content.modified:before {
    opacity: 1;
    height: 16px;
    width: auto; }
  body.thesis-editing .thesis-content.modified:after {
    border-color: #4d901e; }

#thesis-fader {
  -webkit-transition: opacity 0.75s ease-in-out, right 0.3s ease-in-out;
  -moz-transition: opacity 0.75s ease-in-out, right 0.3s ease-in-out;
  transition: opacity 0.75s ease-in-out, right 0.3s ease-in-out;
  bottom: 0px;
  right: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: not-allowed;
  z-index: 1038;
  opacity: 0;
  width: 100%;
  height: 100%; }
  #thesis-fader.active {
    opacity: 1; }
  #thesis-fader.thesis-page-tools-hidden {
    width: 0px;
    height: 0px; }

body.thesis-tray-open {
  left: -380px;
  overflow-x: hidden; }
  body.thesis-tray-open #thesis-tray {
    left: auto;
    right: 0; }

#thesis-tray {
  -webkit-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  position: fixed;
  width: 380px;
  height: 100%;
  right: -380px;
  bottom: 0;
  background: white;
  z-index: 1039;
  box-shadow: 2px 0px 8px #babbbf inset; }
  #thesis-tray .attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px; }

