@mixin editor_icons($icons)
  @each $class, $color in $icons
    &.#{$class} > i
      background-color: $color

      &:hover
        background-color: darken($color, 8%)
        +transition(background-color .3s ease-in-out)

@mixin curve_buttons($limit, $offset:0, $rightOverride:false)
  @for $i from 1 to $limit
    &:nth-child(#{$i - $offset})
      +transform(rotate(- (($limit - $i) * 5)+deg))
      +transform-origin(0% 100%)
      $right: ((($limit  - $i) * $limit) * ($limit + 1 - $i) / 3) + (($limit + 1 - $i) * 3) + 8
      right: $right + px

    @if $rightOverride
      &:nth-child(-n+3)
        +transform(rotate(0))
        right: 15px